{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>PHP MVC</h1>
    <h5>If you see this page, your MVC framework is ready to use</h5>
    <small>Copyright &copy; Minc Development (Pty) Ltd</small>

{% endblock %}
