<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <base href="{{constant('ASSET_BASE')}}" />

        
    </head>
    <body>
        {% block body %}
        {% endblock %}
        </ul>
    </body>
</html>
